<div class="c-login">
  <div class="c-login-wrapper">
    <img
      class="c-login-logo"
      src="assets/icon/cart.svg"
      alt="logo tela de login"
      aria-hidden="true"
    />
    <small *ngIf="inforError" class="info-error-bg">{{ inforError }}</small>
    <div class="c-login-form-wrapper">
      <form
        class="c-login-form c-form"
        [formGroup]="loginForm"
        (ngSubmit)="login()"
      >
        <div class="c-form-control">
          <div class="c-form-control__icon">
            <img
              src="assets/icon/user.svg"
              alt="ícone usuário"
              aria-hidden="true"
            />
            <input
              type="email"
              name="email"
              placeholder="USERNAME"
              formControlName="email"
              data-testid="email-input"
            />
          </div>
          @if(loginForm.get('email')?.invalid &&
          loginForm.get('email')?.touched) {
          <small class="info-error" data-testid="email-error">{{
            getErrorMessage("email")
          }}</small>
          }
        </div>
        <div class="c-form-control">
          <div class="c-form-control__icon">
            <img
              src="assets/icon/lock.svg"
              alt="ícone usuário"
              aria-hidden="true"
            />
            <input
              type="password"
              name="password"
              placeholder="PASSWORD"
              formControlName="password"
              data-testid="password-input"
            />
          </div>
          @if(loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched) {
          <small class="info-error" data-testid="password-error">{{
            getErrorMessage("password")
          }}</small>
          }
        </div>
        <div class="c-form-control">
          <button
            class="c-form-control-button"
            type="submit"
            [disabled]="loginForm.invalid"
            data-testid="login-button"
          >
            login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
